/* Variables */

$color-yellow: #fed136;
$color-title: #222222;
$color-subtitle: #777777;
$color-bcg: #f7f7f7;
$color-white: #ffffff;

$font-logo: 'Marck Script', cursive;
$font-header: 'Montserrat', sans-serif;
$font-paragraph: 'Roboto Slab', serif;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container {
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    background: transparent;
}
.container-fluid{
    padding: 0;
}
/* Navigation */

.header {
    padding: 0;
    background: url("https://images.pexels.com/photos/373914/pexels-photo-373914.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center 95%; 
    background-size: cover;
    position: relative;
}

.navbar {
    position: relative;
    width: 100%;
    z-index: 10;
    background: none;
    margin-bottom: 0;
    
}

.navbar-inner{
    width: 100%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background: none;
    position: relative;
    min-height: 40px;
    max-width: 1140px;
}

.brand {
    position: relative;
    margin: 0;
    padding: 10px;
    display: block;
    color: $color-yellow;
    font-family: $font-logo;
    font-size: 26px;
    font-weight: 400;
    font-weight: bold;

}

.brand a {
    text-decoration: none;
    font-size: 100%;
    color: $color-yellow;
    
}

.navigation {
    margin: 0;
    padding: 10px;
    justify-content: right;
}

.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigation li {
    display: inline;    
    margin-right: 36px;
    position: relative;
}

.navigation a {
    text-decoration: none;
    color: $color-subtitle;
    font-size: 14px;
    font-family: $font-header;
    font-weight: bold;
}

.navigation a:hover {
    color: $color-yellow;   
}    

.navigation li:hover ul {
    display: block;
    text-align: center;
    
}


/* Splash */

.main-slider {
    color: $color-yellow;
    display: flex;
    min-height: 500px;
    max-width: 1140px;
    position: relative;
    width: 100%;
    margin: 50px auto 0;
    text-align: center;
    background: none;
}

.page-title {
    margin: auto;
    letter-spacing: -1px;
    font-weight: 400;
    line-height: 1.2;
    max-width: 430px;
    height: 32px;
    color: #ffffff;
    font-family: $font-logo;
    font-size: 40px;
    font-style: italic;
    text-align: center;
    display: block;
}

.page-subtitle {
    margin: 24px auto; 
    line-height: 80px;
    max-width: 1140px;
    height: 55px;
    color: #ffffff;
    font-family: $font-header;
    font-size: 75px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "It’s nice" */
    letter-spacing: -1.88px;
    text-align: center;
    display: block;
}

.center {
    position:relative;
    /*float: right;
    right: 50%;*/
    text-align: center;
    width: 100%;
  }
  
  .inner-center {
    width: 100%;
    /*float: right;
    right: -50%;*/
    position: relative;
    display: block;
  }

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-header;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    text-transform: uppercase;
    font-weight: 700;
    
}

.btn-one {
    border-color: $color-yellow;
    color: white;
    background-color: $color-yellow;
}