/* Variables */

$color-yellow: #fed136;
$color-title: #222222;
$color-subtitle: #777777;
$color-bcg: #f7f7f7;
$color-white: #ffffff;

$font-logo: 'Marck Script', cursive;
$font-header: 'Montserrat', sans-serif;
$font-paragraph: 'Slabo 27px', serif;



p {
    color: red;
}